In [9]:
!pip install datascience

Requirement already satisfied: datascience in c:\users\chris\anaconda3\lib\site-packages (0.17.0)
Requirement already satisfied: coveralls in c:\users\chris\anaconda3\lib\site-packages (from datascience) (3.3.1)
Requirement already satisfied: scipy in c:\users\chris\anaconda3\lib\site-packages (from datascience) (1.7.1)
Requirement already satisfied: pandas in c:\users\chris\anaconda3\lib\site-packages (from datascience) (1.3.4)
Requirement already satisfied: numpy in c:\users\chris\anaconda3\lib\site-packages (from datascience) (1.20.3)
Requirement already satisfied: pytest in c:\users\chris\anaconda3\lib\site-packages (from datascience) (6.2.4)
Requirement already satisfied: ipython in c:\users\chris\anaconda3\lib\site-packages (from datascience) (7.29.0)
Requirement already satisfied: branca in c:\users\chris\anaconda3\lib\site-packages (from datascience) (0.4.2)
Requirement already satisfied: setuptools in c:\users\chris\anaconda3\lib\site-packages (from datascience) (58.0.4)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\chris\anaconda3\lib\site-packages (from datascience) (3.4.3)
Requirement already satisfied: plotly in c:\users\chris\anaconda3\lib\site-packages (from datascience) (5.6.0)
Requirement already satisfied: folium>=0.9.1 in c:\users\chris\anaconda3\lib\site-packages (from datascience) (0.12.1.post1)
Requirement already satisfied: nbsphinx in c:\users\chris\anaconda3\lib\site-packages (from datascience) (0.8.8)
Requirement already satisfied: bokeh in c:\users\chris\anaconda3\lib\site-packages (from datascience) (2.4.1)
Requirement already satisfied: sphinx in c:\users\chris\anaconda3\lib\site-packages (from datascience) (4.2.0)
Requirement already satisfied: coverage in c:\users\chris\anaconda3\lib\site-packages (from datascience) (6.3.1)
Requirement already satisfied: requests in c:\users\chris\anaconda3\lib\site-packages (from folium>=0.9.1->datascience) (2.26.0)
Requirement already satisfied: jinja2>=2.9 in c:\users\chris\anaconda3\lib\site-packages (from folium>=0.9.1->datascience) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\chris\anaconda3\lib\site-packages (from jinja2>=2.9->folium>=0.9.1->datascience) (1.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\chris\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\chris\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (8.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\chris\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\chris\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\chris\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (1.3.1)
Requirement already satisfied: six in c:\users\chris\appdata\roaming\python\python39\site-packages (from cycler>=0.10->matplotlib>=3.0.0->datascience) (1.15.0)
Requirement already satisfied: packaging>=16.8 in c:\users\chris\anaconda3\lib\site-packages (from bokeh->datascience) (21.0)
Requirement already satisfied: typing-extensions>=3.10.0 in c:\users\chris\anaconda3\lib\site-packages (from bokeh->datascience) (3.10.0.2)
Requirement already satisfied: tornado>=5.1 in c:\users\chris\anaconda3\lib\site-packages (from bokeh->datascience) (6.1)
Requirement already satisfied: PyYAML>=3.10 in c:\users\chris\anaconda3\lib\site-packages (from bokeh->datascience) (6.0)
Requirement already satisfied: docopt>=0.6.1 in c:\users\chris\anaconda3\lib\site-packages (from coveralls->datascience) (0.6.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\chris\anaconda3\lib\site-packages (from requests->folium>=0.9.1->datascience) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\chris\anaconda3\lib\site-packages (from requests->folium>=0.9.1->datascience) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\chris\anaconda3\lib\site-packages (from requests->folium>=0.9.1->datascience) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\chris\anaconda3\lib\site-packages (from requests->folium>=0.9.1->datascience) (2021.10.8)
Requirement already satisfied: colorama in c:\users\chris\appdata\roaming\python\python39\site-packages (from ipython->datascience) (0.4.4)
Requirement already satisfied: backcall in c:\users\chris\anaconda3\lib\site-packages (from ipython->datascience) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\chris\anaconda3\lib\site-packages (from ipython->datascience) (5.1.0)
Requirement already satisfied: pickleshare in c:\users\chris\anaconda3\lib\site-packages (from ipython->datascience) (0.7.5)
Requirement already satisfied: decorator in c:\users\chris\anaconda3\lib\site-packages (from ipython->datascience) (5.1.0)
Requirement already satisfied: matplotlib-inline in c:\users\chris\anaconda3\lib\site-packages (from ipython->datascience) (0.1.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\chris\anaconda3\lib\site-packages (from ipython->datascience) (3.0.20)
Requirement already satisfied: pygments in c:\users\chris\anaconda3\lib\site-packages (from ipython->datascience) (2.10.0)
Requirement already satisfied: jedi>=0.16 in c:\users\chris\anaconda3\lib\site-packages (from ipython->datascience) (0.18.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\chris\anaconda3\lib\site-packages (from jedi>=0.16->ipython->datascience) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\chris\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->datascience) (0.2.5)
Requirement already satisfied: nbformat in c:\users\chris\anaconda3\lib\site-packages (from nbsphinx->datascience) (5.1.3)
Requirement already satisfied: docutils in c:\users\chris\anaconda3\lib\site-packages (from nbsphinx->datascience) (0.17.1)
Requirement already satisfied: nbconvert!=5.4 in c:\users\chris\anaconda3\lib\site-packages (from nbsphinx->datascience) (6.1.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\chris\anaconda3\lib\site-packages (from nbconvert!=5.4->nbsphinx->datascience) (0.3)
Requirement already satisfied: jupyter-core in c:\users\chris\anaconda3\lib\site-packages (from nbconvert!=5.4->nbsphinx->datascience) (4.8.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\chris\anaconda3\lib\site-packages (from nbconvert!=5.4->nbsphinx->datascience) (1.4.3)
Requirement already satisfied: jupyterlab-pygments in c:\users\chris\anaconda3\lib\site-packages (from nbconvert!=5.4->nbsphinx->datascience) (0.1.2)
Requirement already satisfied: defusedxml in c:\users\chris\anaconda3\lib\site-packages (from nbconvert!=5.4->nbsphinx->datascience) (0.7.1)
Requirement already satisfied: testpath in c:\users\chris\anaconda3\lib\site-packages (from nbconvert!=5.4->nbsphinx->datascience) (0.5.0)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\chris\anaconda3\lib\site-packages (from nbconvert!=5.4->nbsphinx->datascience) (0.5.3)
Requirement already satisfied: bleach in c:\users\chris\anaconda3\lib\site-packages (from nbconvert!=5.4->nbsphinx->datascience) (4.0.0)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\chris\anaconda3\lib\site-packages (from nbconvert!=5.4->nbsphinx->datascience) (0.8.4)
Requirement already satisfied: jupyter-client>=6.1.5 in c:\users\chris\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert!=5.4->nbsphinx->datascience) (6.1.12)
Requirement already satisfied: async-generator in c:\users\chris\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert!=5.4->nbsphinx->datascience) (1.10)
Requirement already satisfied: nest-asyncio in c:\users\chris\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert!=5.4->nbsphinx->datascience) (1.5.1)
Requirement already satisfied: pyzmq>=13 in c:\users\chris\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert!=5.4->nbsphinx->datascience) (22.2.1)
Requirement already satisfied: pywin32>=1.0 in c:\users\chris\anaconda3\lib\site-packages (from jupyter-core->nbconvert!=5.4->nbsphinx->datascience) (228)
Requirement already satisfied: ipython-genutils in c:\users\chris\anaconda3\lib\site-packages (from nbformat->nbsphinx->datascience) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\chris\anaconda3\lib\site-packages (from nbformat->nbsphinx->datascience) (3.2.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\chris\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->nbsphinx->datascience) (21.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\chris\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->nbsphinx->datascience) (0.18.0)
Requirement already satisfied: sphinxcontrib-applehelp in c:\users\chris\anaconda3\lib\site-packages (from sphinx->datascience) (1.0.2)
Requirement already satisfied: sphinxcontrib-devhelp in c:\users\chris\anaconda3\lib\site-packages (from sphinx->datascience) (1.0.2)
Requirement already satisfied: sphinxcontrib-jsmath in c:\users\chris\anaconda3\lib\site-packages (from sphinx->datascience) (1.0.1)
Requirement already satisfied: sphinxcontrib-htmlhelp>=2.0.0 in c:\users\chris\anaconda3\lib\site-packages (from sphinx->datascience) (2.0.0)
Requirement already satisfied: sphinxcontrib-serializinghtml>=1.1.5 in c:\users\chris\anaconda3\lib\site-packages (from sphinx->datascience) (1.1.5)
Requirement already satisfied: sphinxcontrib-qthelp in c:\users\chris\anaconda3\lib\site-packages (from sphinx->datascience) (1.0.3)
Requirement already satisfied: snowballstemmer>=1.1 in c:\users\chris\anaconda3\lib\site-packages (from sphinx->datascience) (2.1.0)
Requirement already satisfied: babel>=1.3 in c:\users\chris\anaconda3\lib\site-packages (from sphinx->datascience) (2.9.1)
Requirement already satisfied: alabaster<0.8,>=0.7 in c:\users\chris\anaconda3\lib\site-packages (from sphinx->datascience) (0.7.12)
Requirement already satisfied: imagesize in c:\users\chris\anaconda3\lib\site-packages (from sphinx->datascience) (1.2.0)
Requirement already satisfied: pytz>=2015.7 in c:\users\chris\anaconda3\lib\site-packages (from babel>=1.3->sphinx->datascience) (2021.3)
Requirement already satisfied: webencodings in c:\users\chris\anaconda3\lib\site-packages (from bleach->nbconvert!=5.4->nbsphinx->datascience) (0.5.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\chris\anaconda3\lib\site-packages (from plotly->datascience) (8.0.1)
Requirement already satisfied: iniconfig in c:\users\chris\anaconda3\lib\site-packages (from pytest->datascience) (1.1.1)
Requirement already satisfied: pluggy<1.0.0a1,>=0.12 in c:\users\chris\anaconda3\lib\site-packages (from pytest->datascience) (0.13.1)
Requirement already satisfied: py>=1.8.2 in c:\users\chris\anaconda3\lib\site-packages (from pytest->datascience) (1.10.0)
Requirement already satisfied: toml in c:\users\chris\appdata\roaming\python\python39\site-packages (from pytest->datascience) (0.10.2)
Requirement already satisfied: atomicwrites>=1.0 in c:\users\chris\anaconda3\lib\site-packages (from pytest->datascience) (1.4.0)

In [10]:
import numpy as np
from datascience import *

# Davis Sunflower Project: Plant Counts

**Author**: Chris Zhan, as part of the Blackman lab.

**Summary**: This JupyterHub notebook is designed to take in 3 spreadsheets: a field map, a greenhouse plant count and a desired plant count. It returns several tables and data points. Firstly, the notebook produces a total count of all the plants currently in the field, grouped by species/family line. Secondly, it calculates a total sum of all plants currently in the field. Thirdly, it produces a table of how many more plants should be germinated based on the difference between the desired plant count and the total plants in the field / lathhouse.

## Important Tables:

**Davis Field Map**

In [27]:
davis_map = Table().read_table('datasets/Davis_2021 - Current Map (Dead Plants Removed) (1).csv')
davis_map

Column | Border_1 | Row_2  | Row_3    | Row_4    | Row_5  | Row_6  | Row_7  | Row_8    | Row_9               | Row_10 | Row_11 | Row_12 | Row_13 | Row_14 | Row_15 | Row_16 | Row_17 | Row_18 | Row_19 | Border | Plants  | count (7/26/21) | Unnamed: 23 | Plants.1 | count (8/2/21)
1      | nan      | nan    | DB_1973p | nan      | nan    | F4_35  | F4_35  | KSp      | KSp                 | nan    | nan    | nan    | nan    | nan    | nan    | nan    | nan    | nan    | nan    | nan    | DB_1797 | 5               | nan         | DB_1797p | 3
2      | nan      | nan    | DB_1815p | DB_1844p | F4_60  | F4_61  | F5_117 | DB_1815p | DB_1844p            | F4_23  | F4_33  | F4_01  | F4_64  | nan    | nan    | nan    | nan    | nan    | nan    | nan    | nan     | nan             | nan         | DB_1800p | 7
3      | nan      | F5_117 | DB_1951p | DB_1841p | F4_33  | F4_26  | F4_58  | DB_1951p | DB_1841p            | F4_50  | F4_32  | F4_41  | F5_137 | nan    | nan    | nan    | nan    | nan    | nan    | nan    | DB_1800 | 6               | nan         | DB_1806p | 8
4      | nan      | F4_43  | DB_1811p | DB_1880p | F4_65  | F5_117 | F4_58  | DB_1811p | DB_1880p            | F4_61  | F4_44  | F4_58  | F4_13  | nan    | nan    | nan    | nan    | nan    | nan    | nan    | nan     | nan             | nan         | DB_1811p | 1
5      | nan      | F4_36  | MBp      | DB_1800p | F5_117 | F5_116 | F4_61  | MB       | DB_1800p            | F5_118 | F4_17  | F4_02  | F5_132 | nan    | nan    | nan    | nan    | nan    | nan    | nan    | DB_1806 | 6               | nan         | DB_1815p | 1
6      | nan      | F4_01  | KSp      | DB_1806p | F4_70  | F5_118 | F4_63  | KSp      | DB_1806p_(no_label) | nan    | F5_113 | F4_65  | F4_15  | nan    | nan    | nan    | nan    | nan    | nan    | nan    | nan     | nan             | nan         | DB_1822p | 4
7      | nan      | F4_28  | DB_1806p | DB_1976p | F4_44  | F4_35  | F4_58  | DB_1806p | DB_1976p            | MB     | F4_25  | F4_03  | F5_123 | nan    | nan    | nan    | nan    | nan    | nan    | nan    | DB_1811 | 3               | nan         | DB_1828p | 3
8      | nan      | KS     | DB_1976p | DB_1845  | F4_35  | F4_63  | F4_44  | DB_1976  | DB_1845p            | nan    | F4_15  | MB     | F5_02  | nan    | nan    | nan    | nan    | nan    | nan    | nan    | nan     | nan             | nan         | DB_1841p | 3
9      | nan      | F5_136 | DB_1828p | HEAN3p   | F5_124 | F4_21  | F4_65  | DB_1828p | HEAN3p              | F4_13  | F4_23  | F5_137 | F5_117 | nan    | nan    | nan    | nan    | nan    | nan    | nan    | DB_1815 | 2               | nan         | DB_1844p | 4
10     | nan      | F4_03  | DB_1841p | DB_1990  | F4_51  | F4_69  | F4_70  | DB_1841p | DB_1990             | F4_70  | F5_136 | F4_57  | nan    | nan    | nan    | nan    | nan    | nan    | nan    | nan    | nan     | nan             | nan         | DB_1845p | 5
... (89 rows omitted)

**Lathhouse/Greenhouse Plant Counts**

In [26]:
potted_lathhouse = Table().read_table('datasets/Davis_2021 - potted_seedling_lathhouse.csv')
selected_potted_lathhouse = potted_lathhouse.select(0, 1, 2, 3, 5, 6)
selected_potted_lathhouse

F4/5 Family ID | counts (8/3) | DB_lines | counts (8/3).1 | Pop      | counts(8/3)
F5_MBxKS_101   | nan          | DB_1973  | 8              | AGR-2740 | 8
F5_MBxKS_102   | 2            | DB_1976  | 9              | AGR-2741 | 5
F5_MBxKS_103   | 1            | DB_1880  | 6              | AGR-2744 | 4
F5_MBxKS_104   | 2            | DB_1990  | 4              | ANG-2424 | nan
F5_MBxKS_105   | nan          | DB_1954  | 6              | CRP-ANG  | 5
F5_MBxKS_106   | nan          | DB_1881  | nan            | ARG-1575 | nan
F5_MBxKS_107   | 2            | DB_1951  | 4              | ARG-FLB  | nan
F5_MBxKS_108   | 1            | DB_1811  | 7              | ARG-MUS  | nan
F5_MBxKS_109   | nan          | DB_1828  | 4              | ATR-2426 | 6
F5_MBxKS_110   | 1            | DB_1845  | 8              | ATR-2590 | 8
... (71 rows omitted)

**Desired Germination Counts**

In [25]:
desired_counts = Table().read_table('datasets/Davis_2021 - germination_batches.csv')
desired_counts = desired_counts.select(0, 1)
desired_counts

F4/5 Family ID | No of plants required
F5_MBxKS_101   | 5
F5_MBxKS_102   | 5
F5_MBxKS_103   | 5
F5_MBxKS_104   | 5
F5_MBxKS_105   | 5
F5_MBxKS_106   | 5
F5_MBxKS_107   | 5
F5_MBxKS_108   | 5
F5_MBxKS_109   | 5
F5_MBxKS_110   | 5
... (71 rows omitted)

# Preliminary Steps

We need to make the F4/5 Family ID in `selected_potted_lathhouse` and `desired_counts` to be the same as the entered data in `davis_map`. 

The following cell defines a function that removes MBxKS from the Family ID in selected_potted_lathhouse so that the data can be joined with the future davis_plant_table.

In [15]:
def remove_MBxKS(tbl):
    F4_5_Family_ID_array = make_array()
    for i in np.arange(len(tbl.column(0))):
        remove_MBxKS = tbl.column(0).item(i).replace('MBxKS', '')
        remove_F5__ = remove_MBxKS.replace('F5__', 'F5_') 
        F4_5_Family_ID_array = np.append(F4_5_Family_ID_array, remove_F5__)
    return F4_5_Family_ID_array


lathhouse_counts_Family_ID_array = remove_MBxKS(selected_potted_lathhouse)
desired_counts_Family_ID_array = remove_MBxKS(desired_counts)
lathhouse_counts_Family_ID_array, desired_counts_Family_ID_array

(array(['F5_101', 'F5_102', 'F5_103', 'F5_104', 'F5_105', 'F5_106',
        'F5_107', 'F5_108', 'F5_109', 'F5_110', 'F5_111', 'F5_112',
        'F5_113', 'F5_114', 'F5_115', 'F5_116', 'F5_117', 'F5_118',
        'F5_119', 'F5_120', 'F5_121', 'F5_122', 'F5_123', 'F5_124',
        'F5_125', 'F5_126', 'F5_127', 'F5_128', 'F5_129', 'F5_130',
        'F5_131', 'F5_132', 'F5_133', 'F5_134', 'F5_135', 'F5_136',
        'F5_137', 'F4_01', 'F4_02', 'F4_03', 'F4_05', 'F4_13', 'F4_15',
        'F4_17', 'F4_19', 'F4_21', 'F4_23', 'F4_25', 'F4_26', 'F4_27',
        'F4_28', 'F4_29', 'F4_30', 'F4_32', 'F4_33', 'F4_34', 'F4_35',
        'F4_36', 'F4_38', 'F4_41', 'F4_42', 'F4_43', 'F4_44', 'F4_45',
        'F4_46', 'F4_50', 'F4_51', 'F4_56', 'F4_57', 'F4_58', 'F4_60',
        'F4_61', 'F4_62', 'F4_63', 'F4_64', 'F4_65', 'F4_67', 'F4_69',
        'F4_70', 'F4_75', 'F4_76'], dtype='<U32'),
 array(['F5_101', 'F5_102', 'F5_103', 'F5_104', 'F5_105', 'F5_106',
        'F5_107', 'F5_108', 'F5_109', 'F5_110', 'F5_111', 'F5_112',
        'F5_113', 'F5_114', 'F5_115', 'F5_116', 'F5_117', 'F5_118',
        'F5_119', 'F5_120', 'F5_121', 'F5_122', 'F5_123', 'F5_124',
        'F5_125', 'F5_126', 'F5_127', 'F5_128', 'F5_129', 'F5_131',
        'F5_132', 'F5_133', 'F5_134', 'F5_135', 'F5_136', 'F5_137',
        'F4_02', 'F4_28', 'F4_30', 'F4_34', 'F4_36', 'F4_56', 'F4_62',
        'F4_03', 'F4_05', 'F4_19', 'F4_27', 'F4_42', 'F4_43', 'F4_51',
        'F4_57', 'F4_23', 'F4_29', 'F4_38', 'F4_41', 'F5_130', 'F4_45',
        'F4_65', 'F4_69', 'F4_75', 'F4_01', 'F4_17', 'F4_21', 'F4_26',
        'F4_33', 'F4_58', 'F4_67', 'F4_32', 'F4_46', 'F4_60', 'F4_13',
        'F4_15', 'F4_25', 'F4_35', 'F4_44', 'F4_50', 'F4_61', 'F4_63',
        'F4_64', 'F4_70', 'nan'], dtype='<U32'))

**Making Tables**

Now that `remove_MBxKS` is implemented, we can create some intermediate tables that aggregate our data into the proper format. We want to eventually join the count of plants in the lathhouse with the count of plants in the field, so `selected_potted_lathhouse` needs to be reformatted to have all the species lines in one column, and their counts in another column.

In [16]:
lathhouse_counts_Family_ID_array
lathhouse_counts_DB_array = selected_potted_lathhouse.take(np.arange(21)).column('DB_lines')

joining_potted_lathhouse = Table().with_columns('F4/F5 Family ID', lathhouse_counts_Family_ID_array,\
                                                 'lathhouse counts', selected_potted_lathhouse.column(1))
joining_potted_lathhouse

F4/F5 Family ID | lathhouse counts
F5_101          | nan
F5_102          | 2
F5_103          | 1
F5_104          | 2
F5_105          | nan
F5_106          | nan
F5_107          | 2
F5_108          | 1
F5_109          | nan
F5_110          | 1
... (71 rows omitted)

In [17]:
joining_desired_counts = Table().with_columns('F4/F5 Family ID', desired_counts_Family_ID_array, \
                                             'desired counts', desired_counts.column(1))
joining_desired_counts

F4/F5 Family ID | desired counts
F5_101          | 5
F5_102          | 5
F5_103          | 5
F5_104          | 5
F5_105          | 5
F5_106          | 5
F5_107          | 5
F5_108          | 5
F5_109          | 5
F5_110          | 5
... (71 rows omitted)

In [18]:
row_2 = davis_map.where('Row_2', are.not_equal_to('nan')).column('Row_2')
row_3 = davis_map.where('Row_3', are.containing('p')).column('Row_3')
row_4 = davis_map.where('Row_4', are.containing('p')).column('Row_4')
row_5 = davis_map.where('Row_5', are.not_equal_to('nan')).column('Row_5')
row_6 = davis_map.where('Row_6', are.not_equal_to('nan')).column('Row_6')
row_7 = davis_map.where('Row_7', are.not_equal_to('nan')).column('Row_7')
row_8 = davis_map.where('Row_8', are.containing('p')).column('Row_8')
row_9 = davis_map.where('Row_9', are.containing('p')).column('Row_9')
row_10 = davis_map.where('Row_10', are.not_equal_to('nan')).column('Row_10')
row_11 = davis_map.where('Row_11', are.not_equal_to('nan')).column('Row_11')
row_12 = davis_map.where('Row_12', are.not_equal_to('nan')).column('Row_12')
row_13 = davis_map.where('Row_13', are.not_equal_to('nan')).column('Row_13')

# appended_rows = np.append(np.append(np.append(row_3, row_5), row_6), row_7)
appended_rows = np.append(np.append(np.append(np.append(np.append(np.append(np.append(np.append(np.append(np.append(np.append(row_2, row_3), row_4), row_5),\
                                                        row_6), row_7), row_8), row_9), row_10), row_11), row_12), row_13)

davis_plant_table = Table().with_column('Plants', appended_rows)
davis_plant_table

Plants
F5_117
F4_43
F4_36
F4_01
F4_28
KS
F5_136
F4_03
F4_23
F5_122
... (344 rows omitted)

In [19]:
plant_counts = davis_plant_table.group('Plants')
total = davis_plant_table.num_rows

In [20]:
total

354

In [21]:
plant_counts.show()

In [22]:
plant_counts.where('count', are.below(5)).show()

In [23]:
joined_lathhouse_field_counts = plant_counts.join('Plants', joining_potted_lathhouse, 'F4/F5 Family ID')
joined_lathhouse_field_desired = joined_lathhouse_field_counts.join('Plants', joining_desired_counts, 'F4/F5 Family ID')
sum_of_available_plants = joined_lathhouse_field_desired.column('count') + joined_lathhouse_field_desired.column('lathhouse counts')
difference_of_desired_available = joined_lathhouse_field_desired.column('desired counts') - sum_of_available_plants
difference_table = joined_lathhouse_field_desired.with_columns('remaining', difference_of_desired_available)

In [24]:
difference_table.show()